fieldset
{
    width:40%;
}
li
{
    margin:10px;
    list-style:none;
}
input[text]
{   
    text-align:left;  
}
input[password]
{  
    text-align:left;   
}
label
{
  display: block;
  float: left;
  width : 200px;    
}

.container
{
    margin-left:60px;
    margin-top:50px;
}
input[button]
{
    text-align:center;
}
fieldset
{
    margin-left:30%;
}